.game-var-select {
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  background: #fff;
}

.game-player-face {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.game-player {
  font-size: large;
}

.game-player td {
	vertical-align: middle!important;
}

.game-custom-command-clear {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #777;
}