{% extends 'base.html' %}
{% block content %}
<h1>
  <i class="fa {% if not game.isUp() %}text-danger fa-minus-circle{% endif %} "></i>
  {{ game.getLabel() }}
</h1>
<h2>
  Send command
</h2>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        Command:
      </div>
      <input id="game-cmd-input" class="form-control"/>
    </div>
  </div>
  <button id="game-cmd-send" class="btn btn-primary" url="{{ route('game-cmd', { name: game.getName() }) }}">
    Send
  </button>
</form>
<pre id="game-cmd-output" style="display: none;"></pre>
<h2>
  Status
</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Variable
      </th>
      <th>
        Value
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        map
      </td>
      <td>
        {{ game.getMap() }}
      </td>
      <td>
        current map
      </td>
    </tr>
    {% for var, data in game.getModuleValue('vars') %}
    <tr>
      <td>
        {{ data.label ? data.label : var }}
      </td>
      <td>
        {% if data.options %}
          <select class="game-var-select" var-url="{{ route('game-var', { name: game.getName(), var: var }) }}">
          {% for opt in data.options %}
            <option value="{{ opt }}" {{ opt == game.getVar(var) ? 'selected' : '' }}>
              {{ opt }}
            </option>
          {% endfor %}
          </select>
        {% else %}
          {{ game.getVar(var) }}
        {% endif %}
      </td>
      <td>
        {{ data.description }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>
  Players
</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Player
      </th>
      <th>
        Score
      </th>
    </tr>
  </thead>
  <tbody>
    {% for player in game.getPlayers() %}
    <tr>
      <td>
        {{ player.getName() }}
      </td>
      <td>
        {{ player.getScore() }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>
  Maps
</h2>
<div class="row">
  {% for map in game.getMaps() %}
  <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
    <button map-set="{{ route('game-map-set', { name: game.getName(), map: map }) }}" class="btn btn-default form-control game-map-set" map-get="{{ route('game-map-get', { name: game.getName() }) }}">
      {{ map }}
    </button>
  </div>
  {% endfor %}
</div>
{% endblock content %}
